**üìç Ways to Create a DataFrame**

- From Python lists
- Using a dictionary of lists
- With NumPy arrays
- Importing from a CSV file
- Importing from an Excel file (*will not perform this*)
- Loading data from SQL databases
- Reading JSON files
- Fetching CSV data from a web URL

*Common DataFrame commands:*
- `df.head()` ‚Äì First 5 rows  
- `df.tail()` ‚Äì Last 5 rows  
- `df.info()` ‚Äì Column info  
- `df.describe()` ‚Äì Stats summary  
- `df.columns` ‚Äì Column names  
- `df.shape` ‚Äì Rows & columns count

In [1]:
import pandas as pd

# 1 - Python List
data = [["Alice", 25], ["Bob", 30], ["Charlie", 35]]
df = pd.DataFrame(data, columns=["Name", "Age"])
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [2]:
# 2 - Dictionary
data_dict = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35]
}
df_dict = pd.DataFrame(data_dict)
print("\nDataFrame from dictionary:\n", df_dict)

DataFrame from dictionary:
       Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [3]:
# 3 - NumPy Array
import numpy as np
data_array = np.array([["Alice", 25], ["Bob", 30], ["Charlie", 35]])
df_array = pd.DataFrame(data_array, columns=["Name", "Age"])
print("\nDataFrame from NumPy array:\n", df_array)

DataFrame from NumPy array:
       Name Age
0    Alice  25
1      Bob  30
2  Charlie  35

In [ ]:
import pandas as pd

# Read the CSV file
df_csv = pd.read_csv('../assets/data/random.csv')
print("\nDataFrame from CSV file:\n", df_csv)

# Read with options
df_csv = pd.read_csv(
    '../assets/data/random.csv',
    sep=',',
    header=0,
    usecols=['Name', 'Age'],
    nrows=5
)
print("\nDataFrame from CSV with options:\n", df_csv)

DataFrame from CSV file:
      Name  Age  Gender    Country
0    John   28    Male        USA
1    Emma   22  Female     Canada
2    Liam   31    Male         UK
3  Olivia   27  Female  Australia
4    Noah   24    Male        USA

DataFrame from CSV with options:
      Name  Age
0    John   28
1    Emma   22
2    Liam   31
3  Olivia   27
4    Noah   24

In [16]:
# 5 - SQL Database
import sqlite3

conn = sqlite3.connect("mydb.sqlite")
cursor = conn.cursor()

# Create table
cursor.execute(
    """
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER
)"""
)

# Insert some sample data
cursor.executemany(
    "INSERT INTO users (name, age) VALUES (?, ?)",
    [("Alice", 25), ("Bob", 30), ("Charlie", 35)],
)

conn.commit()
conn.close()

import sqlite3
import pandas as pd

conn = sqlite3.connect("mydb.sqlite")
df = pd.read_sql("SELECT * FROM users", conn)
print("\nDataFrame from SQL query:\n", df)

conn.close()  # Close connection after use

DataFrame from SQL query:
    id     name  age
0   1    Alice   25
1   2      Bob   30
2   3  Charlie   35

In [ ]:
# 6 - JSON File
import json
with open('../assets/data/random.json', 'r') as file:
    data_json = json.load(file)
df_json = pd.DataFrame(data_json)
print("\nDataFrame from JSON file:\n", df_json)

DataFrame from JSON file:
    id     name  age         city  score
0   1    Alice   28     New York   85.5
1   2      Bob   34  Los Angeles   92.0
2   3  Charlie   22      Chicago   78.3
3   4    Diana   30      Houston   88.7
4   5    Ethan   25      Phoenix   91.2

In [ ]:
# 7 - From the Web
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv"
df = pd.read_csv(url)
# print("\nDataFrame from web URL:\n",df)
print("\nFirst few rows of the DataFrame loaded from the web URL:\n", df.head())

First few rows of the DataFrame loaded from the web URL:
    total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4